@import "../../../styles/common.scss";
.repassword {
  @include center;
  flex-direction: column;
  width: 576px;
  height: 844px;
  border-radius: 16px;
  margin: 30px auto;
  border: 1px solid #e0e0e0;
  gap: 24px;

  header {
    width: 100%;
    height: 56px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 24px 0 0 0;
    font-weight: bold;
    padding: 8px 0 8px 16px;

    img {
      width: 40px;
      height: 40px;
      margin-top: 2px;
    }
  }

  .putPwWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 764px;
    padding: 0 24px;
    position: relative;

    .pwWrap {
      width: 100%;

      > input {
        width: 100%;
        padding: 19px 0 15px 16px;
        border-radius: 6px;
        border: 1px solid #e0e0e0;
        font-size: 16px;
      }

      > input:first-child {
        margin-bottom: 8px;
      }
    }
  }

  .btnWrap {
    width: 100%;
    padding: 0 24px 40px 24px;
    > input {
      width: 100%;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
